@{
    ViewBag.Title = "Perusahaan";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script src="~/Scripts/JsCrud/crud.js"></script>
<div class="container">
    <h2>CRUD</h2>
    <form>
        <div class="form-group">
            <label for="namaBarang">Nama Perusahaan:</label>
            <input type="text" class="form-control" id="nmPerusahaan" placeholder="nama Perusahaan" name="nmPerusahaan">
        </div>

        <button class="btn btn-default" type="submit" id="btnSimpan" onclick="fnInsertPer()">Simpan</button>
    </form>

</div>
